/* Navigation Header */

#header {
  position: fixed;
  top: 0;
  left: 0;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  /* background-color: #fafafa; */
  /* background-color: black; */
  background-color: rgba(0, 0, 0, 0);
  line-height: 65px;
  font-size: 15px;
  z-index: 1000;
}

#header a {
  font-family: "Montserrat", sans-serif;
  margin: 10;
  text-decoration: none;
  color: #fafafa;
}

#header a:hover {
  color: rgb(166, 166, 166)
}

/* Home Section */

#pic {
  height: 100vh;
  min-height: 300px;
  width: 100%;
  background: #161415 url(./images/intro.jpg) no-repeat top center;
  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
}

#pic .title {
  position: absolute;
  top: max(50%, 250px);
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  padding-bottom: 30px;
  text-align: center;
}

#pic:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

#pic .title h1 {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#pic .title h2 {
  font-family: "Montserrat", sans-serif;
  color: #fafafa;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-align: center;
}

#links a {
  margin: 10;
  text-decoration: none;
}

#scrollDown {
  position: absolute;
  top: 90%;
  width: 100%;
}

/* About Section */

#profile {
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  background-color: #222222;
  display: flex;
  justify-content: center;
}

#profileText {
  display: inline-block;
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

#profileText h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 38px;
}

#profileText h2 {
  color: #F06000;
  margin-top: 10px;
  margin-bottom: 10px;
}

#profileText p {
  font-family: "Montserrat", sans-serif;
  color: #888888;
  justify-content: center;
  text-align: left;
  font-size: 16px;
  line-height: 1.7;
}

#profileText a:hover{
  color: #0eabb0c7
}

#profileText img {
  filter: url(filters.svg#grayscale);
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  height: auto;
  width: 12%;
  margin: 3% 3%;
  -moz-transition: all .1s ease-in-out;
  transition: all .1s ease-in-out

}
#profileText img:hover {
  filter: none;
  -webkit-filter: none;
}

#profile p {
  margin: 10;
}

#profile ul {
  margin: 5;
}

/* Resume Section */

#resume {
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  background-color: white;
  display: flex;
  justify-content: center;
}

#resumeText {
  display: inline-block;
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

#resumeText h1{
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 38px;
}

#resumeText h2 {
  color: #F06000;
  margin-top: 40px;
  margin-bottom: 40px;
}

#resumeText p {
  font-family: "Montserrat", sans-serif;
  color: #888888;
  justify-content: center;
  font-size: 16px;
  line-height: 1.7;
}

#rounded {
  border-radius: 50%;
}


/* Projects Section */

#projects {
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  background-color: #ebeeee;
  /* background-color: #d3ccc4; */
  display: flex;
  justify-content: center;
}

#projectDetails {
  display: inline-block;
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

#projectDetails h1 {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  text-align: center;
  font-size: 38px;
}

/* Contact Section */

#contact {
  font-family: "Montserrat", sans-serif;
  font-size: 20;
  background-color: #0f0f0f;
  display: flex;
  justify-content: center;
}

#contactText {
  display: inline-block;
  padding-top: 65px;
  padding-bottom: 65px;
  max-width: 1000px;
  padding-left: 25px;
  padding-right: 25px;
}

#contactText h1 {
  font-family: "Montserrat", sans-serif;
  color: white;
  justify-content: center;
  text-align: center;
  font-size: 38px;
}

/* General Styling */

body {
  margin: 0px 0px;
}

b {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  color:rgb(166, 166, 166);
}

i {
  color: white;
}

i:hover {
  color:rgb(166, 166, 166);
}

.highlight {
  color: #11abb0
}

.btn-primary {
  margin-top: 20;
  margin-bottom: 20;
  background-color: #11abb0 !important;
  border-color: #11abb0 !important;
}

.btn-primary:hover {
  background-color: #0eabb0c7 !important;
  border-color: #0eabb0c7 !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.header2 {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  font-size: 23;
  text-transform: uppercase;
  padding-top: 10;
}

.header2centered {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2em;
  font-size: 23;
  text-transform: uppercase;
  padding-top: 10;
  text-align: center;
}

::selection {
  background: #fed136;
}
::-moz-selection {
  background: #fed136; /* Gecko Browsers */
}